@import "tailwindcss";

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: rgb(250, 250, 250);
}

#root {
  max-width: 100%;
  margin: 0;
  height: 100%;
}